$blue: #00BAE3;
$blue-d: #005B91;
$blue-l: #A8E2F7;
$orange: #D66230;
$orange-d: #674111;
$orange-l: #FFAD41;
$gray: #F3F3F3;
$md: 768px;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#main {
  display: flex;
  height: 100vh;

  @media screen and (max-width: $md) {
    flex-direction: column;
  }
}

#form {
  flex: 5;
  padding: 1rem;
}

#chart {
  display: flex;
  flex: 5;
  background-color: $gray;
}

svg {
  flex: 10;
}

.long {
  #back, .fin {
    fill: $blue;
  }

  #belly, #eye-outline {
    fill: $blue-l;
  }

  #eye-pupil {
    fill: $blue-d;
  }

  .em {
    fill: $blue;
  }

  .dev {
    fill: $blue-l;
  }
}

.short {
  #back, .fin {
    fill: $orange;
  }

  #belly, #eye-outline {
    fill: $orange-l;
  }

  #eye-pupil {
    fill: $orange-d;
  }

  .em {
    fill: $orange;
  }

  .dev {
    fill: $orange-l;
  }
}