$blue: #00BAE3;
$blue-d: #005B91;
$blue-l: #A8E2F7;
$orange: #D66230;
$orange-d: #674111;
$orange-l: #FFAD41;
$gray: #7b7b7b;
$gray-d: #333;
$gray-l: #F3F3F3;

$md: 768px;
$sans: Rubik, sans-serif;
$transition: .5s;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $sans;
  color: $gray-d;
}

#main {
  display: flex;
  height: 100vh;

  @media screen and (max-width: $md) {
    flex-direction: column;
  }
}

#form {
  flex: 5;
  padding: 1rem;
  overflow: auto;
  
  @media screen and (max-width: $md) {
    flex: 4;
  }
}

#chart {
  display: flex;
  flex: 5;
  background-color: $gray-l;

  @media screen and (max-width: $md) {
    flex: 6;
  }
}

svg {
  flex: 10;
}

.long {
  a {
    &:hover {
      color: $blue;
    }
  }

  .select {
    &:hover {
      border-color: $blue;
    }
  }

  .rc-slider-handle {
    border-color: $blue !important;
  }

  .rc-slider-track {
    background-color: $blue !important;
  }

  #back, .fin {
    fill: $blue;
  }

  #belly, #eye-outline {
    fill: $blue-l;
  }

  #eye-pupil {
    fill: $blue-d;
  }

  .em {
    fill: $blue;
  }

  .dev {
    fill: $blue-l;
  }
}

.short {
  a {
    &:hover {
      color: $orange;
    }
  }

  .select {
    &:hover {
      border-color: $orange;
    }
  }

  .rc-slider-handle {
    border-color: $orange !important;
  }

  .rc-slider-track {
    background-color: $orange !important;
  }

  #back, .fin {
    fill: $orange;
  }

  #belly, #eye-outline {
    fill: $orange-l;
  }

  #eye-pupil {
    fill: $orange-d;
  }

  .em {
    fill: $orange;
  }

  .dev {
    fill: $orange-l;
  }
}

button {
  position: absolute;
  left: 1rem;
  border: 2px solid #bbb;
  border-radius: 2px;
  padding: 10px 15px;
  color: $gray-d;
  background-color: #bbb;
  font-size: 1rem;
  -webkit-appearance: none;
  cursor: pointer;

  @media screen and (min-width: $md) {
    bottom: 1rem;
  }

  @media screen and (max-width: $md) {
    top: 1rem;
  }

  &:hover {
    transition: $transition;
    border-color: $gray;
  }

  &:active {
    transition: $transition;
    color: #fff;
    background-color: $gray;
  }
}

form {
  display: flex;
  flex-direction: column;
}

h1, h3, h4 {
  font-weight: 300;
}

h3 {
  margin: .5rem 0 1rem;
  border-bottom: 2px solid $gray-l;
  padding: 0 0 .5rem .2rem;
}

h4 {
  margin: 0 0 .5rem;
  padding: 0 0 0 .2rem;
}

a {
  text-decoration: none;
  color: $gray;
  border-bottom: 2px solid $gray-l;

  &:hover {
    transition: $transition;
  }
}

.field-container {
  display: flex;
  margin-bottom: .5rem;
}

.field-50 {
  flex: 5;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: .85rem;
}

.label-container {
  display: flex;
  margin-bottom: .15rem;
}

label {
  flex: 1;
  font-size: .95rem;
  font-weight: 400;
  padding-left: .2rem;
  color: $gray;
}

.help {
  padding-right: .2rem;
  font-size: .95rem;
  font-weight: 300;
  color: $gray;
}

.select {
  display: flex;
  flex: 1;
  border: 2px solid #ddd;
  border-radius: 2px;
  padding: 5px 10px;
  padding-right: 25px;
  background-color: #fff;
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='20' viewBox='0 0 32 20'><path fill='#7b7b7b' d='M0 0h32L16 20z'/></svg>") right 10px center no-repeat;
  background-size: 8px 8px;
  color: #333;
  font-size: 1rem;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

  &:hover {
    transition: $transition;
  }
}

.slider {
  margin: .5rem .3rem;
}

.rc-slider {
  background-color: lighten(#ddd, 5) !important;
}

footer {
  margin: 1rem 0 3rem;
  color: $gray;
  font-size: .9rem;
  font-weight: 300;
  text-transform: uppercase;
}
